body{
    font-family: "Roboto", sans-serif;
    background: #fff;
    color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
    max-width: 100%; 
    height: auto;
}
.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.header-wrap{
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.accent-header{
    color: #2e2f42;
}
.accent-footer {
    color: #f4f4fd;
}
.nav-list{
    display: flex;
    gap: 40px;
}
.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
}
.nav-item:hover, .nav-list:focus{
    color: #404bbf;
}
.address {
    font-style: normal;
    margin-left: auto;
}
.adress-list {
    display: flex;
    gap: 40px;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-link:hover, .address-link:focus{
    color: #404bbf;
}
.section-one{
    background: #2e2f42;
    padding: 188px 0;
}
.title-one{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 48px auto;
}
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background: #4d5ae5;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;
    display: block;
    min-width: 169px;
}
.button:hover , .button:focus{
    background: #404bbf;
}
.section-two{
    padding-top: 120px;
    padding-bottom: 120px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-two-list{
    display: flex;
    gap: 24px;
}
.section-two-item {
    width: calc(( 100% - 3 * 24px ) / 4 )
}
.section-tree{
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-tree-list {
    display: flex;
    gap: 24px;
}
.team-member{
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
}
.team-member-desc {
    padding: 32px 0;
}
.title-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.text-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.section-four {
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-four-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.section-four-item {
    width: calc((100% - 2 * 24px) / 3)
}
.portfolio-desc {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.name {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}  
.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}  
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    margin-right: 0;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}


